body {
     background-color: rgb(247, 193, 187);
     padding: 10px;

}
.container {
     display: flex;
   }
   
   
   .grid {
     width: 200px;
     height: 400px;
     display: flex;
     flex-wrap: wrap;
     background-color: rgba(250, 128, 114, 0.342);
     border: 1px solid black;
   }
   
   .grid div {
     height: 20px;
     width: 20px;
   }
   
   .tetromino {
     background-color: blue;
   }
   
      .mini-grid {
     margin-left: 50px;
     width: 80px;
     height: 80px;
     display: flex;
     flex-wrap: wrap;
     background-color: salmon;
     border: 1px solid black;
   }
   
   .mini-grid div {
     height: 20px;
     width: 20px;
   }


